:ruby
  # Scan app/views/admin/*/ for `.yaml` files with a `nav` key, return [{slug, nav, icon}]
  @menu_loader = -> do
    Dir.glob(Lux.root.join('app/views/admin/*/.yaml')).filter_map do |f|
      data = YAML.load_file(f)
      next unless data.is_a?(Hash) && data['nav']
      { slug: File.basename(File.dirname(f)), nav: data['nav'], icon: data['icon'] }
    end.sort_by { |i| i[:nav].to_s }
  end
!!!
%html{ lang: :en }
  %head
    = lux.header.render do |page|
      = CdnAsset.url 'auto-shared.css'
      = CdnAsset.url 'auto-shared.js'
      = CdnAsset.url 'auto-admin.css'
      = CdnAsset.url 'https://dux.github.io/fez/demo/log.js'
      = CdnAsset.url 'auto-fez.js'
      = CdnAsset.url 'auto-admin.js'
  %body
    %admin-menu
    .flex.admin-body
      %admin-side-menu
        %a{ href: '/admin' } /
        %dl
          %dt Local app
          %dd
            - @menu_loader.call.each do |item|
              %a{ href: "/admin/#{item[:slug]}" }
                - if item[:icon]
                  %ui-icon{ name: item[:icon] }
                = item[:nav]
            - if user.is_admin?
              %a{ href: '/admin/run' } Run

          %dt Plugins
          %dd
            to add
      .flex-1.min-w-0
        .pjax#admin.typo-system
          = base_js

          - if @important_info
            .flash.flash-warn.center{ style: 'margin-bottom: 0; border-top: none; font-size: 120%; padding-bottom: 11px;' }
              = @important_info

          %div{ style: 'margin-top:30px;' }
          .container
            = yield

          - if !request.xhr?
            - if @_footer.class == FalseClass
              %div{ style: 'padding: 20px;' }
                .center{ style: 'border-top: 1px solid #ddd; padding-top: 25px; margin-bottom: 30px;' }
                  %a{ href: '/' }
                    %img{ src: '/s-logo.png' }

        %footer
          .center{ style: 'max-width: 800px; margin: auto; border-top: 1px solid #ddd; padding: 50px;' }
            #{App.name(true)} Admin &sdot; #{Time.now.year}

    %s-dialog
    %s-image-zoom
