<div class="row">
  <h1>Exceptions</h1>
  <div class="info">total: <%= @total %></div>
</div>

<div>
  <button class="btn" onclick="toggle('users')">Filter by user (last 7d)<% if @user_filter %> &middot; <%= h @user_filter %><% end %></button>
  <button class="btn" onclick="toggle('types')">Filter by class<% if @klass_filter %> &middot; <%= h @klass_filter %><% end %></button>
  <% if @klass_filter || @user_filter %>
    <a class="btn" href="<%= prefix %>/">clear</a>
  <% end %>
</div>

<div id="users" class="filter-box hidden">
  <% @users.each do |u| %>
    <a class="btn" href="<%= prefix %>/?user=<%= h u[:email] %>"><%= h u[:email] %> (<%= u[:count] %>)</a>
  <% end %>
  <% if @users.empty? %><span style="color:#999">no users in last 7 days</span><% end %>
</div>

<div id="types" class="filter-box hidden">
  <% @types.each do |t| %>
    <a class="btn <%= 'outline' if LuxException::IGNORE.include?(t[:klass]) %>" href="<%= prefix %>/?klass=<%= h t[:klass] %>"><%= h t[:klass] %> (<%= t[:count] %>)</a>
  <% end %>
  <% if @types.empty? %><span style="color:#999">no recent types</span><% end %>
</div>

<table>
  <tr>
    <th style="width: 250px;">Class</th>
    <th>Message</th>
    <th class="c" style="width: 60px;">Times</th>
    <th style="width: 180px;">Last &amp; first</th>
    <th class="c" style="width: 70px;">Resolved</th>
  </tr>
  <% @list.each do |el| %>
    <tr class="clickable" onclick="rowGo(event, '<%= prefix %>/show?uid=<%= el[:uid] %>')"<%= ' style="opacity: 0.5;"' if el[:is_resolved] %>>
      <td><a class="btn" href="<%= prefix %>/?klass=<%= h el[:klass] %>"><%= h el[:klass] %></a></td>
      <td><%= h trim(el[:message], 200) %></td>
      <td class="c"><%= el[:times] %></td>
      <td>
        <%= time_ago(el[:last_at]) %><br>
        <%= time_ago(el[:first_at]) %>
      </td>
      <td class="c"><%= el[:is_resolved] ? 'yes' : 'no' %></td>
    </tr>
  <% end %>
  <% if @list.empty? %>
    <tr><td colspan="5" style="color:#999; text-align:center;">no exceptions</td></tr>
  <% end %>
</table>
