<a class="back" href="<%= prefix %>/">&larr; Back</a>
<h2>Error details</h2>

<table>
  <tr>
    <th style="width: 150px;">Class</th>
    <td>
      <%= h @exp[:klass] %>
      &bull;
      <a class="btn" href="<%= prefix %>/?klass=<%= h @exp[:klass] %>">filter</a>
    </td>
  </tr>
  <tr>
    <th>Message</th>
    <td><%= h @exp[:message] %></td>
  </tr>
  <tr>
    <th>Times</th>
    <td><%= @exp[:times] %> &middot; first <%= time_ago(@exp[:first_at]) %> &middot; last <%= time_ago(@exp[:last_at]) %></td>
  </tr>
  <tr>
    <th>Backtrace</th>
    <td><pre><%= @exp[:body] %></pre></td>
  </tr>
</table>

<h3>Log</h3>
<table>
  <tr>
    <th style="width: 170px;">At</th>
    <th style="width: 170px;">Ago</th>
    <th style="width: 120px;">IP</th>
    <th style="width: 300px;">User</th>
    <th>URL</th>
  </tr>
  <% @exp[:logs].each do |el| %>
    <tr>
      <td>
        <span class="btn" onclick="toggle('env-<%= el[:ref] %>')"><%= el[:created_at]&.strftime('%Y-%m-%d %H:%M:%S') %></span>
      </td>
      <td><%= time_ago(el[:created_at]) %></td>
      <td>
        <% if el[:ip] %><a href="https://ipgeolocation.io/ip-location/<%= h el[:ip] %>"><%= h el[:ip] %></a><% end %>
      </td>
      <td><%= h el[:email] %></td>
      <td>
        <% if el[:url] %>
          <a href="<%= h el[:url].split(/\s+/).last %>"><%= h el[:url] %></a>
        <% else %>
          &mdash;
        <% end %>
      </td>
    </tr>
    <tr id="env-<%= el[:ref] %>" class="env-row">
      <td colspan="5"><pre><%= h(JSON.pretty_generate(JSON.parse(el[:env]))) rescue h(el[:env]) %></pre></td>
    </tr>
  <% end %>
  <% if @exp[:logs].empty? %>
    <tr><td colspan="5" style="color:#999; text-align:center;">no logs</td></tr>
  <% end %>
</table>

<div style="margin-top: 20px;">
  <% if @exp[:is_resolved] %>
    <span class="info" style="color:#2a7a2a;">&check; Resolved</span>
  <% else %>
    <form method="post" action="<%= prefix %>/resolve" style="display:inline;" onsubmit="return resolveException(this)">
      <input type="hidden" name="uid" value="<%= h @exp[:uid] %>">
      <button type="submit" class="btn">Mark resolved</button>
    </form>
  <% end %>
</div>
