!!!
%html{ lang: :en }
  %head
    = lux.header.render do |el|
      = el.auto :shared, :admin, :fez
      %script{ src: '/_lux_/client.js' }
  %body
    %admin-menu
    .flex.admin-body
      = cell.admin_helper.full_left_menu
      .flex-1.min-w-0
        .pjax#admin.typo-system
          = base_js

          - if @important_info
            .flash.flash-warn.center{ style: 'margin-bottom: 0; border-top: none; font-size: 120%; padding-bottom: 11px;' }
              = @important_info

          %div{ style: 'margin-top:30px;' }
          .container
            = yield

          - if !request.xhr?
            - if @_footer.class == FalseClass
              %div{ style: 'padding: 20px;' }
                .center{ style: 'border-top: 1px solid #ddd; padding-top: 25px; margin-bottom: 30px;' }
                  %a{ href: '/' }
                    %img{ src: '/s-logo.png' }

        %footer
          .center{ style: 'max-width: 800px; margin: auto; border-top: 1px solid #ddd; padding: 50px;' }
            #{App.name(true)} Admin &sdot; #{Time.now.year}

    %ui-dialog
    %s-image-zoom
